<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Ship page</h1>
        <form action="/logs" method="POST">
            Title: <input type="text" name="title" /><br/>
            Entry: <input type="textarea" name="entry" /><br/>
            is Ship Broken: <input type="checkbox" name="shipIsBroken" /><br/>
            <input type="submit" name="" value="Create Log"/>
        </form>
    </body>
</html>