<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Logs show page</h1>
        Title: <%=log.title; %>. <br>
        Entry: <%=log.entry; %>.<br>
        <% if(log.shipIsBroken === true){ %>
            The ship is broken
        <% } else { %>
            The ship is not broken
        <% } %>
        <br>
        <nav>
            <a href="/logs/">Back to Logs Index</a>
        </nav>
    </body>
</html>